<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dennis.vitalsigns"
    android:versionCode="1"
    android:versionName="1.0" ><!-- Increment versionCode for every install worthy release. -->

    <!-- Andriod 4.3=sdk 18. BT 4.0 had the first OS support in this version. -->
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />    
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Dennis added to start app if necessary after rebooting -->

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <receiver android:name=".BootupBroadcastReceiver" > <!-- Dennis the full path seems necessary -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MonitorSessionInitBroadcastReciever" /> <!-- requires no filter -->
        <receiver android:name=".PowerConnectionBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service android:name=".VitalSignsService" />
        <service android:name=".GeneralService" />

        <activity
            android:name=".VitalSignsActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Preferences" >
        </activity>
    </application>

</manifest>